.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding-block: 10rem;
  padding-inline: 5rem;
}

.Header {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  // color: ;
}
